fastapi
uvicorn
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.28
langchain-experimental==0.0.49
langchain-openai==0.0.8
langchainplus-sdk==0.0.20
langdetect==1.0.9
langsmith==0.1.10
pypdf2==3.0.1
azure-core==1.29.6
azure-data-tables==12.5.0
azure-storage-blob==12.19.0
pydantic==1.10.11
openai==1.13.3
faiss-cpu==1.7.4
tiktoken==0.6.0
pandas
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pyodbc